* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }

 .head-haz {
    display: flex;
    flex-direction: row;
    background-color: black;  
    height: 65px;
    max-height: 65px;
    justify-content: space-between;   
    
    
}

#hlogo{
    width: 100px;
    margin-left: 25px;   
}

.about-us-txt {
    display: flex;
    color: white;
    align-self: center;
    margin-left: 30px;  
    font-size: 12px;
    
    
}

.cart-icon {
    width:45%;
    height: 45%;
    align-self: center;
    margin-left: 30px;
}
.contact-txt {
    color: white;
    align-self: center;
    margin-left: 30px;
    font-size: 12px;  
}
.account-txt {
    color: white;
    align-self: center;
    margin-left: 30px;
    font-size: 12px;    
    text-decoration: none; 
}
.shop-txt {
    color: white;
    align-self: center;
    margin-left: 30px;
    font-size: 12px;  
    text-decoration: none;
}


.hazrolliLogo {
    display: flex;
    justify-content: flex-start;
    width: 150px;
}


.head-right-side {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    width: 250px;
    padding-right: 25px;
}


    /*Produktet*/
 
.shop-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;   
    margin-top: 25px;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.product-image-box {
    display: flex;
    justify-content: center;
    height: 250px;
}
.product-picture {   
    margin: 15px;
    max-width: 100%;
    max-height: 100%;
    
}
.product1 {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 10px rgb(178, 167, 167);
    margin: 30px;
    
     
}

.img-info {
    display: flex;
    flex-direction: column;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    height: px;
    
}

.qmimi-produkt {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.pershkrimi-produktit {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.PRODUKTET {
    display: flex;
    flex-direction: row;
}

.add-to-cart-button {
    border-radius: 50px;
    margin: 10px 50px 15px 50px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 3px 0px 3px 0px;
}

.add-to-cart-button:hover {
    background-color: #3498db; 
    color: white;
    animation: ButtonAnimation 1s; 
}


#kontenti {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;

    margin:0 auto;
     margin-top:50px ;
    
}
#kontenti img {
    max-width: 100%;
    height:500px;
    
}
#slidebutton{
    border-radius: 100%;
    border-style:hidden;
    width: 40px;
    height: 40px;
    font: 10pt;
    background-color: white;
}
#slidebutton:hover{
    background-color:white;
}
#h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
   
}
.bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-left: 70px;
    padding-right: 70px;
    height: 225px;
    padding-top: 25px;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

#bottom-right-part{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;

}

@keyframes ButtonAnimation {
    0% {
      background-color: #ffffff;
      transform: scale(1);
    }
    50% {
      background-color: #3498db; 
      color: white;
      transform: scale(1.6);
    }
    100% {
      background-color: #3498db; 
      color: white;
      transform: scale(1);
    }
  }




    









